<ion-header class="header">
  <ion-button routerLink="/home">
    <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
</ion-header>
<ion-content>
  <!-- logo elpanini -->
  <div class="container-page">
    <div class="logo">
      <img src="./assets/img/Elpanini_logo.png" />
    </div>

    <form id="form" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <!-- https://ionicframework.com/docs/api/card -->
      <ion-card class="ioncard-boven">
        <ion-card-header>
          <ion-card-title> Welkom bij El Panini </ion-card-title>
          <ion-card-subtitle> Beste broodjes alleen bij ons </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="inputEmail">
            <ion-item>
              <ion-input class="inputTekst" placeholder="Email" formControlName="email"></ion-input>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
              Valid Email is vereist.
            </span>
          </div>

          <div class="inputPassword">
            <ion-item>
              <ion-input class="inputTekst" placeholder="Paswoord" formControlName="password" type="password"></ion-input>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.password.errors?.required">
              Paswoord is vereist.
            </span>
          </div>
          <a href="#" routerLink="/forgetpassword">Passwoord vergeten</a>

          <div class="Footer_Ioncard_Account">
            <ion-button class="logIn" type="submit" (click)="presentAlert()">Inloggen</ion-button>
            <span>
              Nog geen account bij ons?
              <a href="#" routerLink="/register"> Account aanmaken</a>
            </span>
          </div>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>