<ion-header>
</ion-header>

<ion-content>

  <div class="container">
    <ion-card>
     <ion-card-header>
       <ion-card-title>
        <div class="logo">
          <img class="Elpanini_foto" id="myimage" src="./assets/img/Elpanini_logo.png" alt="Broodlogo">
        </div>
        Welcome
       </ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <ion-button (click)="loginPage()">
         Login
       </ion-button>
       <ion-button (click)="registerPage()">
        Register
      </ion-button>
     </ion-card-content>
    </ion-card>
  </div>
</ion-content>