<ion-header class="header">
  <ion-toolbar>
    <button routerLink="/tabs/main">
      <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="titCart">Profile</h1>
  <form class="formp" [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <div class="wrap">
      <div class="rij1">
        <ion-item lines="full">
          <ion-label class="labels" position="floating">Username</ion-label>
          <ion-input formControlName="username" type="text" [disabled]="isDisabled" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
          Username is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.minlength">
          Username should be min 2 chars long.
        </span>

        <ion-item lines="full">
          <ion-label class="labels" position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email" [disabled]="true" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Email is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Please provide a valid email.
        </span>

        <ion-item lines="full">
          <ion-label class="labels" position="floating">Password</ion-label>
          <ion-input formControlName="password" type="text" [disabled]="isDisabled" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Password is required.
        </span>
      </div>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Submit</ion-button>
        <ion-button (click)="editFields()">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-button class="logout" fill="clear" value="Log out" (click)="logout()">
    Log out
  </ion-button>
</ion-content>
