<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart" *ngIf="user.role === 'user'">
      <ion-icon name="cart-outline"></ion-icon>
      <div class="badge">{{cartService.totalCartItem()}}</div>
    </ion-tab-button>
    <ion-tab-button tab="manageSandwiches" *ngIf="user.role === 'admin'">
      <ion-icon name="file-tray-full-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="profile()" tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
