<ion-header class="header">
  <ion-toolbar>
    <button routerLink="/tabs/main">
      <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="titCart">Shopping Cart</h1>
  <div class="shoppingCart" *ngIf="localCart.length === 0">
    <ion-grid>
      <ion-row class= "legeCart">
        <div>
          <p class="legeCartinhoud">Uw cart in nog leeg</p>
        </div>
      </ion-row>
      <ion-row class= "legeCart">
        <ion-button  class="custombutton"  size="medium"  expand="block" [routerLink]="['/tabs/main']"> bestel hier nu u broodjes
        </ion-button>
      </ion-row>
      <ion-row class= "legeCartImg">
        <img class="legeCartimg" src="./assets/img/legeCart.png" alt="notFound">
      </ion-row>
    </ion-grid>
   </div>
  <div class="cart-items" *ngFor="let cartItem of localCart">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="img">
          <ion-img [src]="cartItem.brood.foto"></ion-img>
        </div>
        <div class="info">
          <p><strong>{{cartItem.brood.title}}</strong></p>
          <p>{{cartItem.brood.description}}</p>
        </div>
        <div class="price">
          <p>€ {{cartItem.brood.price| number:'1.2'}}</p>
        </div>
      </ion-card-content>
      <ion-footer>
        <div class="quantity">
          <ion-label>X {{cartItem.quantity}}</ion-label>
        </div>
        <div class="tot">
          <ion-label>Totaal</ion-label>
        </div>
        <ion-toolbar color="translucent">
          <ion-button class="btns">€ {{cartItem.brood.price * cartItem.quantity | number : '1.2-2' }}
          </ion-button>
          <ion-button class="btns" (click)="removeFromCart(cartItem)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
  </div>
</ion-content>
