<ion-header class="header">
  <ion-button class="back" routerLink="/home">
    <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
</ion-header>
<ion-content>
  <!-- logo elpanini -->
  <div class="container-page">
    <div class="logo">
      <img src="./assets/img/Elpanini_logo.png" />
    </div>

    <!-- https://ionicframework.com/docs/api/card -->
    <ion-card class="ioncard-boven">
      <ion-card-header>
        <ion-card-title>
          Forgot password
        </ion-card-title>
        <ion-card-subtitle>
          Enter Your <strong>Email</strong> to
          Reset
        </ion-card-subtitle>
      </ion-card-header>


      <ion-card-content>
        <ion-item>
          <ion-input class="inputTekst" placeholder="Email"></ion-input>
        </ion-item>
        <div class="Footer_Ioncard_Account">
          <ion-button class="forgetP" (click)="navigateToLoginPage()">Reset password</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>