//Lettertype and achtergrondkleur
//info: bij achtergrondkleur van ion-content
ion-content {
    --ion-background-color: rgb(226, 226, 213);
    font-family: Arial, Helvetica, sans-serif;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background: darkgoldenrod;
  }
  //centreren van content
  .container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //logo van onze app
  .logo {
    display: flex;
    justify-content: center;
  }
  button{
    background:darkgoldenrod;
    color: antiquewhite;
  }
  //tital van ioncard --> Welkom...
  ion-card-title {
    color: #000000;
    font-size: 28px;
  }

  //subtitel van subcard --> Beste broodjes... (kan nog veranderen)
  ion-card-subtitle {
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  //https://stackoverflow.com/questions/52007818/how-can-i-remove-border-in-ion-card-in-ionic
  ion-card {
    box-shadow: none !important;
    text-align: center;
    background: transparent;
  }

  //boven margin geven voor de contentcard
  ion-card-content {
    margin-top: 30px;
  }

  //https://stackoverflow.com/questions/31772742/changing-background-color-of-ionic-ion-item-in-css
  ion-item {
    --border-width: 0;
    --inner-border-width: 0;
    margin-bottom: 15px;
    --ion-item-background:transparent;
  }

  //input van de placeholders (ion-items)
  ion-item > ion-input {
    border-radius: 13px;
    border: 1px solid #b8860b;
    width: 255px;
    height: 40px;
    font-size: 15px;
    color: #555b5b;
    --padding-start: 15px;
  }

  //FOOTER//

  //Footer van de ioncard --> Inlogbutton + account aanmaken
  .Footer_Ioncard_Account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  //Inlog button voor de klant
  ion-button {
    --background: #b8860b;
    --border-radius: 13px;
    color: #fff;
  }
  .forgetP{
    height: 40px;
    width: 250px;
    background: #b8860b;
    border-radius: 13px;
    color: #fff;
  }
  //Allerlaatste deel, span --> nog geen account...
  span {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
  }

  //geldt voor alle links in de loginpage
  a {
    text-decoration: none;
    font-weight: 300;
    color: #b8860b;
    font-size: 14px;
  }
