<ion-header class="header">
  <ion-button class="back" routerLink="/home">
    <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
</ion-header>
<ion-content>
  <div class="container">
    <form id="form" [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Schrijf je in
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input class="inputTekst" placeholder="Gebruikersnaam" formControlName="username"></ion-input>
        </ion-item>
        <span class="error" *ngIf="isSubmitted && errorControl.username.errors?.pattern">
          Gebruikersnaam is vereist.
        </span>
        <ion-item>
          <ion-input class="inputTekst" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Valid Email is vereist.
        </span>
        <ion-item>
          <ion-input class="inputTekst" placeholder="Paswoord" formControlName="password" type="password"></ion-input>
        </ion-item>
        <span class="error" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Paswoord is vereist.
        </span>
        <div class="footer">
          <ion-button class="register" type="submit" (click)="presentAlert()">Schrijf je in
          </ion-button>
          <span> Al een account bij ons? <a href="#" routerLink="/login"> Login</a></span>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</div>
</ion-content>